*:focus {
    outline: none;
    /* outline: 4px dotted #e67e22; */
    /* outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
  }
  
  /* HELPER/SETTINGS CLASSES */
  .margin-right-sm {
    margin-right: 1.6rem !important;
  }
  
  .margin-bottom-md {
    margin-bottom: 4.8rem !important;
  }
  
  .center-text {
    text-align: center;
  }
  
  strong {
    font-weight: 500;
  }